Flask
Flask_SQLAlchemy
Flask_Login

# DB drivers
pymysql
psycopg2-binary
pymongo
pymongo[srv]

# Security / utils
werkzeug
cryptography

# Production server
gunicorn

# Optional (tests / local)
# pytest
# python-dotenv