# IDE / OS
.idea/
*.iml
.DS_Store

# Maven / Java
app/target/
app/.mvn/wrapper/maven-wrapper.jar
*.log
*.class
*.jar
*.war

# Entornos
app/env/
.env

demo-python/venv/
venv/

# Sonar y builds temporales
.scannerwork/
target/
