version: '3.8'  # Versi칩n de Docker Compose

services:
  db:
    image: postgres:15  # Imagen oficial de PostgreSQL versi칩n 15
    container_name: postgres-db
    environment:
      POSTGRES_DB: sistemagestion
      POSTGRES_USER: david
      POSTGRES_PASSWORD: 1234
    ports:
      - "5432:5432"  # Puerto local: 5432
    volumes:
      - postgres_data:/var/lib/postgresql/data  # Volumen persistente
    restart: unless-stopped

  app:
    container_name: spring-app
    # Imagen inyectada autom치ticamente por CI/CD
    # Si ejecutas localmente, usar치 :latest (sin romper nada)
    image: ${IMAGE_URI:-${AWS_ECR_URL}/${ECR_REPOSITORY}:latest}

    # Si trabajas en local y quieres seguir construyendo desde el Dockerfile:
    # build: app

    depends_on:
      - db
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/sistemagestion
      SPRING_DATASOURCE_USERNAME: david
      SPRING_DATASOURCE_PASSWORD: 1234
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_JPA_SHOW_SQL: "true"
    restart: unless-stopped

volumes:
  postgres_data: