version: '3.8'

services:
  db:
    image: postgres:15
    container_name: postgres-db
    environment:
      POSTGRES_DB: sistemagestion
      POSTGRES_USER: david
      POSTGRES_PASSWORD: 1234
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  app:
    # Aquí ya no construyo la imagen localmente; ahora uso directamente la imagen
    # que yo mismo subo a ECR desde la pipeline.
    # En el despliegue, exporto IMAGE_URI con el valor real del repositorio ECR.
    image: "${IMAGE_URI}"
    container_name: spring-app
    depends_on:
      - db
    environment:
      # Configuro mi aplicación Spring Boot para que se conecte al
      # contenedor de PostgreSQL que levanto aquí mismo.
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/sistemagestion
      SPRING_DATASOURCE_USERNAME: david
      SPRING_DATASOURCE_PASSWORD: 1234
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_JPA_SHOW_SQL: "true"
      # Si quisiera activar un perfil de Spring para producción, lo haría aquí:
      # SPRING_PROFILES_ACTIVE: prod
    ports:
      - "8080:8080"
    # Si estoy usando Docker Compose v2.20+ puedo forzar siempre un pull de la imagen.
    # pull_policy: always
    restart: unless-stopped

volumes:
  postgres_data: