version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: tfg-postgres
    environment:
      POSTGRES_DB: sistemagestion
      POSTGRES_USER: david
      POSTGRES_PASSWORD: "1234"
    ports:
      - "5432:5432"
    networks:
      - tfg-net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U david -d sistemagestion"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s

networks:
  tfg-net:
    driver: bridge