version: "3.8"

services:
  spring-app:
    image: ${IMAGE_URI}
    container_name: spring-app
    ports:
      - "80:8080"
    environment:
      #  CONFIG BBDD GENÉRICA
      DB_ENGINE: ${DB_ENGINE:-postgresql}
      DB_HOST: ${DB_HOST:-postgres-db}
      DB_PORT: ${DB_PORT:-5432}
      DB_NAME: ${DB_NAME:-tfg}
      DB_USER: ${DB_USER:-tfg}
      DB_PASSWORD: ${DB_PASSWORD:-tfg}

      SPRING_DATASOURCE_URL: "jdbc:${DB_ENGINE}://${DB_HOST}:${DB_PORT}/${DB_NAME}"
      SPRING_DATASOURCE_USERNAME: ${DB_USER}
      SPRING_DATASOURCE_PASSWORD: ${DB_PASSWORD}

    depends_on:
      - postgres-db

  # ESTE SERVICIO SE USARÁ SOLO SI EL USUARIO USA POSTGRES LOCAL
  postgres-db:
    image: postgres:15
    container_name: postgres-db
    environment:
      POSTGRES_DB: ${DB_NAME:-tfg}
      POSTGRES_USER: ${DB_USER:-tfg}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-tfg}
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data: