name: CI-tfg-cicd-aws-2526

on:
  push:
    branches:

      - "main"

      - "develop"

      - "generator-demo"


    tags:
      - "*"


  pull_request:
    branches:

      - "main"

      - "develop"




jobs:

  # ======================================================
  # BUILD & TEST
  # ======================================================
  build_and_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Java (Temurin 17)
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Build & Test
        run: |
          ./mvnw -B -f app/pom.xml test

  # ======================================================
  # SONAR (opcional)
  # ======================================================

  sonar:
    runs-on: ubuntu-latest
    needs: build_and_test

    continue-on-error: true

    steps:
      - uses: actions/checkout@v4

      - name: Setup Java (Temurin 17)
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: SonarCloud Analysis
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

          SONAR_HOST_URL: "https://sonarcloud.io"

        run: |
          ./mvnw -B verify sonar:sonar \
          -Dsonar.projectKey=davidtome97_tfg-cicd-aws-2526  \
          -Dsonar.organization=davidtome97  \
          -Dsonar.host.url=https://sonarcloud.io


  # ======================================================
  # DEPLOY AWS (opcional)
  # ======================================================

  deploy:
    runs-on: ubuntu-latest
    needs:
      - build_and_test

      - sonar

    steps:
      - uses: actions/checkout@v4

      - name: Login to AWS/ECR (placeholder)
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
        run: |
          echo "Aquí iría el login a AWS/ECR usando tus secrets."

      - name: Deploy to AWS (placeholder)
        env:
          AWS_ECR_REGISTRY: ${{ secrets.AWS_ECR_REGISTRY }}
          AWS_ECR_REPOSITORY: ${{ secrets.AWS_ECR_REPOSITORY }}
          AWS_EC2_HOST: ${{ secrets.AWS_EC2_HOST }}
          AWS_EC2_USER: ${{ secrets.AWS_EC2_USER }}
        run: |
          echo "Desplegando el proyecto tfg-cicd-aws-2526"
          echo "Host EC2 = $AWS_EC2_HOST"
