name: CI-tfg-cicd-aws-2526

on:
  push:
    branches:

      - "generator-demo"


    tags:
      - "*"


  pull_request:
    branches:

      - "main"

      - "develop"




jobs:

  # ======================================================
  # BUILD & TEST
  # ======================================================
  build_and_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Java (Temurin 17)
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Build & Test
        run: |
          ./mvnw -B -f app/pom.xml test

  # ======================================================
  # SONAR (opcional)
  # ======================================================

  sonar:
    runs-on: ubuntu-latest
    needs: build_and_test

    continue-on-error: true

    steps:
      - uses: actions/checkout@v4

      - name: Setup Java (Temurin 17)
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: SonarCloud Analysis
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

          SONAR_HOST_URL: "https://sonarcloud.io"

        run: |
          ./mvnw -B verify sonar:sonar \
          -Dsonar.projectKey=davidtome97_tfg-cicd-aws-2526  \
          -Dsonar.organization=davidtome97  \
          -Dsonar.host.url=https://sonarcloud.io


    # ======================================================
  # DEPLOY AWS (opcional) - Build + push a ECR
  # ======================================================

  deploy:
    runs-on: ubuntu-latest
    needs:
      - build_and_test

      - sonar


    steps:
      - uses: actions/checkout@v4

      - name: Configurar credenciales de AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login en Amazon ECR
        id: ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build y push de imagen Docker a ECR
        env:
          ECR_REGISTRY: ${{ steps.ecr.outputs.registry }}
          ECR_REPOSITORY: ${{ github.repository }}
          IMAGE_TAG: ${{ github.sha }}
        run: |
          IMAGE_URI="$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG"
          echo "Construyendo imagen: $IMAGE_URI"
          docker build -t "$IMAGE_URI" .
          docker push "$IMAGE_URI"
          echo "Imagen publicada en ECR -> $IMAGE_URI"
